.VerticalBarContainer {
    height: 94vh;
    width: 3.5rem;
    border-right: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    background-color: #f1efed;
    z-index: 1;
}

.VerticalBarContainer span {
    font-size: 2rem;
}

.verticalBar_text {
    margin-left: 2rem;
    text-orientation: mixed;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-right: 2.2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 600;
}

.verticalBar_number {
    font-weight: 600;
    margin-top: 2rem;
    margin-left: 1.2rem;
    font-size: 3rem;
    transform: rotate(270deg);
    margin-right: 2rem;
}