.landingPage_box {
    width: 500vw;
    height: 100%;
    background-color: #f1efed;
    display: flex;
    overflow-y: hidden;
    flex-direction: row;
    scroll-behavior: smooth;
    transition: transform 1s ease;
}

.landingPage_section1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landingPage_paraBox {
    width: 98%;
    display: flex;
}

.landingPage_paraBox {
    margin-top: 3rem;
}

.small_para {
    width: 26.5%;
    font-size: 0.9rem;
    display: flex;
    align-items: end;
}

.small_para p {
    animation: fadeInUp 3s ease forwards;
}



.big_para p {
    font-size: 3rem;
    animation: fadeInUpBigPara 3s ease forwards;

}

.nanoSized_para {
    font-size: 0.8rem;
}

/* ///////////////section2/////////////// */
.landingPage_section2 {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    border-left: 1px solid;
    border-right: 1px solid;
    align-items: center;
    /* overflow: hidden; */
}

.caption_container {
    margin-top: 3rem;
}

.bigHeading {
    font-size: 15rem;
    margin-top: 14rem;
}

/* //////////////section3////////////// */
.landingPage_section3 {
    width: 150vw;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border-left: 1px solid;
    border-right: 1px solid;
    display: flex;
    position: relative;
}

.vertical_barContainer {
    margin-top: 3rem;
    width: 10%;
}

.section3_parasContainer {
    width: 48%;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}



.section3_para1 {
    font-size: 0.7rem;
    width: 20%;
}

.section3_para2 {
    font-size: 1.2rem;
    width: 45%;

}

.section3_para3 {
    font-size: 1.2rem;
    width: 35%;
    margin-right: 4rem;
}

/* ///////////section4/////////// */
/* .landingPage_section4 {
    height: 100vh;
    width: 80vw;
    display: flex;
    justify-content: end;

} */

.img_container {
    height: 98vh;
    width: 52%;
    margin-left: 8rem;
    margin-top: 3rem;
    background-image: url(../../assets//images/651f0e73-3083-4df7-aed7-c3ff45e0635b__SMALLAvatar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s;
}



.second_verticalBar {
    margin-top: 3.1rem;
    border-right: 100%;
}

/* ////section5///////////// */
.landingPage_section5 {
    height: 100vh;
    width: 100vw;
    border-left: 1px solid;
    border-right: 1px solid;
}

/* ///////////animation///////// */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }

}

@keyframes fadeInUpBigPara {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    20% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}