.landingPage_box {
    width: 100%;
    background-color: #f1efed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.landing_section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.landingPage_paraBox {
    width: 98%;
    display: flex;
}

.landingPage_paraBox {
    margin-top: 3rem;
}

.small_para {
    width: 26.5%;
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: end;
}

.small_para p {
    animation: fadeInUp 3s ease forwards;

}

.big_para p {
    font-size: 3rem;
    animation: fadeInUpBigPara 3s ease forwards;

}

/* ///////////animation///////// */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(100%)
    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }

}

@keyframes fadeInUpBigPara {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    20% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}